.trashIcon {
  font-size: 30px;
  background-color: #e04d4d;
  padding: 15px;
  color: #fff;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.positionTrash {
  position: relative;
  top: -100px;
  left: 0;
  width: 20%;
  height: 100px;
  margin: auto;
}

.warningMessage {
  width: 20%;
  margin: auto;
  padding: 10px;
  position: relative;
  top: -90px;
  left: 0;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warningIcon {
  margin-right: 5px;
  color: red;
  font-size: 15px;
}
